@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat";
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.parallax {
  background: black;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
}
.layer {
  width: 120px;
  position: absolute;
  top: 0;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
.bg {
  display: flex;
  justify-content: center;
}
.heart1 {
  top: 375px;
  left: -120px;
}
.heart2 {
  top: 350px;
  left: -115px;
}
.heart3 {
  top: 355px;
  left: -135px;
}
.heart4 {
  top: 375px;
  left: -150px;
}
.heart5 {
  top: 385px;
  left: 200px;
}
.heart6 {
  top: 400px;
  left: 215px;
}
.heart7 {
  top: 430px;
  left: 220px;
}
.heart8 {
  top: 410px;
  left: 190px;
}
.heart1 img {
  height: 25px;
}
.heart2 img {
  height: 10px;
}
.heart3 img {
  height: 10px;
}
.heart4 img {
  height: 10px;
}
.heart5 img {
  height: 10px;
}
.heart6 img {
  height: 10px;
}
.heart7 img {
  height: 10px;
}
.heart8 img {
  height: 25px;
}
.planet1 {
  top: 160px;
  left: -245px;
}
.planet1 img {
  height: 60px;
}
.planet2 {
  top: 295px;
  left: -305px;
}
.planet2 img {
  height: 40px;
}
.planet3 {
  top: 600px;
  left: 220px;
}
.planet3 img {
  height: 130px;
}
.planet4 {
  top: 700px;
  left: -195px;
}
.planet4 img {
  height: 20px;
}
.planet5 {
  top: 270px;
  left: 250px;
}
.planet5 img {
  height: 80px;
}
.planet6 {
  top: 550px;
  left: -130px;
}
.planet6 img {
  height: 80px;
}
.planet7 {
  top: 575px;
  left: -200px;
}
.planet7 img {
  height: 25px;
}
.planet8 {
  top: 630px;
  left: -180px;
}
.planet8 img {
  height: 20px;
}
.fa-chevron-up {
  color: white;
  font-size: 35px;
}
#fa-chevron-up {
  text-decoration: none;
  display: flex;
  justify-content: center;
  z-index: 2000;
  position: absolute;
  width: 100%;
  bottom: 15px;
}
#main {
  width: 100%;
}
.about {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.slide_1 h1 {
  text-align: center;
  font-size: 50px;
}
.slide_1 #loc {
  margin-top: -100px;
}
.slide_1 #loc img {
  height: 500px;
}
.slide_1 .loc {
  position: absolute;
  top: 1740px;
}
.slide_1 .loc h2 {
  text-align: center;
}
.slide_1 .stu {
  position: absolute;
  top: 1700px;
}
.slide_1 .stu h2 {
  text-align: center;
}
#ya {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.ya {
  margin-top: -50px;
  position: absolute;
}
.ya img {
  height: 800px;
}
.yab {
  padding-top: 50px;
  padding-left: 100px;
}
.yab img {
  height: 500px;
}
#fa-chevron-up2 {
  margin-top: -100px;
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
#fa-chevron-up2 .fa-chevron-up {
  color: black;
  font-size: 35px;
}
#slide_2 {
  width: 100%;
}
#slide_2 h1 {
  margin-top: 15px;
  text-align: center;
  font-size: 50px;
}
#slide_2 #zunu img {
  animation: icon_anim 5s infinite ease-in-out;
  height: 600px;
}
#slide_2 #nails {
  position: absolute;
  margin-left: -700px;
  margin-top: -500px;
}
#slide_2 #nails img {
  animation: icon_anim 3s infinite ease-in-out;
  height: 800px;
}
#slide_2 #ovi {
  margin-top: -250px;
  margin-left: 500px;
  position: absolute;
}
#slide_2 #ovi img {
  animation: icon_anim 4s infinite ease-in-out;
  height: 600px;
}
.icons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#slide_3 {
  width: 100%;
}
#slide_3 h1 {
  margin-top: 15px;
  text-align: center;
  font-size: 50px;
}
#slide_3 #old {
  animation: img_anim 3s infinite linear;
  z-index: 2002;
  margin-right: -500px;
  position: absolute;
}
#slide_3 #old img {
  height: 600px;
}
#slide_3 #o1k {
  animation: img_anim 6s infinite linear;
  z-index: 2000;
  margin-top: -50px;
  margin-left: -600px;
  position: absolute;
}
#slide_3 #o1k img {
  height: 400px;
}
#slide_3 #ira {
  animation: img_anim 7s infinite linear;
  position: absolute;
  margin-top: 200px;
  margin-left: -900px;
  z-index: 2001;
}
#slide_3 #ira img {
  height: 500px;
}
#slide_3 #xxx {
  animation: img_anim 4.5s infinite linear;
  margin-left: -500px;
  margin-top: 200px;
  z-index: -200;
  position: absolute;
}
#slide_3 #xxx img {
  height: 700px;
}
#slide_3 #bil {
  animation: img_anim 4s infinite linear;
  margin-top: 275px;
  margin-left: 400px;
  position: absolute;
}
#slide_3 #bil img {
  height: 600px;
}
#fa-chevron-up3 {
  margin-top: 250px;
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
#fa-chevron-up3 .fa-chevron-up {
  color: black;
  font-size: 35px;
}
#fa-chevron-up4 {
  margin-top: 850px;
  z-index: 60000;
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
#fa-chevron-up4 .fa-chevron-up {
  color: black;
  font-size: 35px;
}
#slide_4 {
  margin-top: 30px;
  background-color: black;
  width: 100%;
}
#slide_4 h1 {
  margin-top: 15px;
  text-align: center;
  font-size: 50px;
  color: white;
}
#slide_4 h2 {
  color: white;
  text-align: center;
}
@keyframes img_anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icon_anim {
  0% {
    transform: rotate(1);
  }
  33% {
    transform: rotate(14deg);
  }
  66% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(1);
  }
}
